h1 {
  text-align: center;
  color: white;
  background-color: #00704A;
  font-family: Arial Black;
  font-style: bold;
  font-size: 50px;
  margin: 0px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: Arial;
  color: white;
  background-color: #00704A;
  margin-top: 0px;
}
p.one {
  font-size: 20px;
  font-family: Arial Black;
}
button{
  margin-left: 20px;
}
p.two {
  font-size: 17px;
  font-family: Arial;
}
h3{
  text-align: left;
  font-family: Arial;
  font-size: 20px;
}
